.idea
__pycache__
*.aux
*.bcf
*.lof
*.log
*.lot
*.toc
*.synctex*
*.run.xml
*.bib
*.blg
*.bbl
*.fdb_*
*.fls*
*robot_info_dataset.csv
webots-project/controllers/pos-prediction/thesis/bin/*
webots-project/controllers/pos-prediction/thesis/lib/*
webots-project/worlds/.*.wbproj
webots-project/plugins/robot_windows/pos-prediction/node_modules/*
*.nav
*.out
*.snm
*.sty
*.pyc
*.eps
*.csv
*.pckl
*checkpoint.ipynb
*/presentation/*.pdf
documents/presentation*/presentation/*.pdf
documents/presentation*/*.pdf
*/*/*/venv
*.eps

